# Compiler files
cache/
out/

lib
node_modules
coverage
coverage.json
typechain
typechain-types

# Ignores development broadcast logs
broadcast

# Docs
docs/

# Dotenv file
.env

# Hardhat files
cache
artifacts
deployments

# LayerZero specific files
.layerzero

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea

# Vscode file
.vscode
.github
.history

#node.js
.deps
node_modules/
package-lock.json